In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from datetime import datetime
from programs.utils.analyse_functies import *
SAVEFIGS = True

NUMYEARS = 15
PREFIX = 'loose'

MIN_BIRTH_INTERVAL_MONTH = 10
MAX_BIRTH_INTERVAL_MONTH = 12 * NUMYEARS
MIN_MAR_DIFF = 0
MAX_MAR_DIFF = 25 * 12

In [2]:
df = pd.read_csv('datafiles/dataframes/working/huwelijk_geboortes_familie_maanden_' + PREFIX + '.csv', sep="|")
df.event_date = pd.to_datetime(df.event_date)
df.mar_date = pd.to_datetime(df.mar_date)
df.sort_values(['id_1', 'event_date'], inplace=True)

In [3]:
df.columns

Index([u'id_1', u'event_date', u'dist', u'target_name_1', u'target_name_2',
       u'target_name_3', u'target_name_4', u'id_2', u'candidate_name_1',
       u'candidate_name_2', u'candidate_name_3', u'candidate_name_4',
       u'length_name_1', u'length_name_2', u'length_name_3', u'length_name_4',
       u'dist_name_1', u'dist_name_2', u'dist_name_3', u'dist_name_4',
       u'mar_date', u'date_diff_month'],
      dtype='object')

In [4]:
df

,id_1,event_date,dist,target_name_1,target_name_2,target_name_3,target_name_4,id_2,candidate_name_1,candidate_name_2,...,length_name_1,length_name_2,length_name_3,length_name_4,dist_name_1,dist_name_2,dist_name_3,dist_name_4,mar_date,date_diff_month
0,698559,1820-11-17 00:00:00,2,ferdinandus,kroes,victoria,strobbe,393954,ferdinand,kroes,...,11,5,8,7,2,0,0,0,1819-11-24 00:00:00,0.0
1,698559,1823-06-03 00:00:00,0,ferdinandus,kroes,victoria,strobbe,223482,ferdinandus,kroes,...,11,5,8,7,0,0,0,0,1819-11-24 00:00:00,31.0
2,698559,1825-05-17 00:00:00,0,ferdinandus,kroes,victoria,strobbe,334134,ferdinandus,kroes,...,11,5,8,7,0,0,0,0,1819-11-24 00:00:00,23.0
3,698559,1832-03-26 00:00:00,0,ferdinandus,kroes,victoria,strobbe,443443,ferdinandus,kroes,...,11,5,8,7,0,0,0,0,1819-11-24 00:00:00,82.0
4,698559,1839-06-23 00:00:00,0,ferdinandus,kroes,victoria,strobbe,624202,ferdinandus,kroes,...,11,5,8,7,0,0,0,0,1819-11-24 00:00:00,87.0
5,698560,1898-01-17 00:00:00,0,henricus,vries,joanna,heijtvelt,285369,henricus,vries,...,8,5,6,9,0,0,0,0,1897-05-14 00:00:00,0.0
6,698560,1899-03-21 00:00:00,0,henricus,vries,joanna,heijtvelt,537391,henricus,vries,...,8,5,6,9,0,0,0,0,1897-05-14 00:00:00,14.0
7,698560,1900-07-13,0,henricus,vries,joanna,heijtvelt,438361,henricus,vries,...,8,5,6,9,0,0,0,0,1897-05-14 00:00:00,16.0
8,698560,1907-03-11,3,henricus,vries,joanna,heijtvelt,596573,henricus,vries,...,8,5,6,9,0,0,0,3,1897-05-14 00:00:00,80.0
9,698560,1911-08-30,0,henricus,vries,joanna,heijtvelt,529099,henricus,vries,...,8,5,6,9,0,0,0,0,1897-05-14 00:00:00,53.0
10,698560,1913-01-06,0,henricus,vries,joanna,heijtvelt,202050,henricus,vries,...,8,5,6,9,0,0,0,0,1897-05-14 00:00:00,17.0
11,698561,1883-08-23 00:00:00,0,constand,constandse,janna,weele,234766,constand,constandse,...,8,10,5,5,0,0,0,0,1882-10-12 00:00:00,0.0
12,698561,1886-09-07 00:00:00,0,constand,constandse,janna,weele,543657,constand,constandse,...,8,10,5,5,0,0,0,0,1882-10-12 00:00:00,37.0
13,698564,1889-04-29 00:00:00,0,petrus,schram,ursula,reu,413603,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,0.0
14,698564,1891-01-09 00:00:00,0,petrus,schram,ursula,reu,681632,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,21.0
15,698564,1893-10-10 00:00:00,0,petrus,schram,ursula,reu,114221,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,33.0
16,698564,1894-11-25 00:00:00,0,petrus,schram,ursula,reu,403934,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,13.0
17,698564,1896-06-20 00:00:00,0,petrus,schram,ursula,reu,461840,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,19.0
18,698564,1897-08-26 00:00:00,0,petrus,schram,ursula,reu,452884,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,14.0
19,698564,1899-09-11 00:00:00,0,petrus,schram,ursula,reu,48108,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,25.0
20,698564,1901-02-18,0,petrus,schram,ursula,reu,322845,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,17.0
21,698564,1903-03-09,0,petrus,schram,ursula,reu,182154,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,25.0
22,698564,1906-08-04,0,petrus,schram,ursula,reu,177256,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,41.0
23,698564,1912-03-09,0,petrus,schram,ursula,reu,101677,petrus,schram,...,6,6,6,3,0,0,0,0,1887-08-17 00:00:00,67.0
24,698566,1885-09-25 00:00:00,0,johan,trampe,maria,brand,53882,johan,trampe,...,5,6,5,5,0,0,0,0,1885-02-18 00:00:00,0.0
25,698566,1887-06-01 00:00:00,0,johan,trampe,maria,brand,499360,johan,trampe,...,5,6,5,5,0,0,0,0,1885-02-18 00:00:00,21.0
26,698566,1889-04-29 00:00:00,0,johan,trampe,maria,brand,233078,johan,trampe,...,5,6,5,5,0,0,0,0,1885-02-18 00:00:00,22.0
27,698566,1891-12-21 00:00:00,0,johan,trampe,maria,brand,106708,johan,trampe,...,5,6,5,5,0,0,0,0,1885-02-18 00:00:00,32.0
28,698569,1831-01-22 00:00:00,1,joos,stevens,franciesca,laat,95455,joos,stevens,...,4,7,10,4,0,0,1,0,1830-05-07 00:00:00,0.0
29,698569,1832-10-04 00:00:00,0,joos,stevens,franciesca,laat,675200,joos,stevens,...,4,7,10,4,0,0,0,0,1830-05-07 00:00:00,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571421,892531,1864-01-13 00:00:00,0,andries,thijsebaard,blondina,allart,335034,andries,thijsebaard,...,7,11,8,6,0,0,0,0,1861-09-12 00:00:00,20.0
571422,892531,1865-03-01 00:00:00,0,andries,thijsebaard,blondina,allart,502033,andries,thijsebaard,...,7,11,8,6,0,0,0,0,1861-09-12 00:00:00,14.0
571423,892531,1867-05-01 00:00:00,0,andries,thijsebaard,blondina,allart,435133,andries,thijsebaard,...,7,11,8,6,0,0,0,0,1861-09-12 00:00:00,26.0
571424,892531,1870-01-29 00:00:00,1,andries,thijsebaard,blondina,allart,639457,andries,thijsbaard,...,7,11,8,6,0,1,0,0,1861-09-12 00:00:00,32.0
571425,892531,1873-04-04 00:00:00,0,andries,thijsebaard,blondina,allart,251672,andries,thijsebaard,...,7,11,8,6,0,0,0,0,1861-09-12 00:00:00,39.0
571426,892531,1875-09-13 00:00:00,0,andries,thijsebaard,blondina,allart,349538,andries,thijsebaard,...,7,11,8,6,0,0,0,0,1861-09-12 00:00:00,29.0
571427,892533,1904-08-02,0,adriaan,allewijn,dina,kok,681727,adriaan,allewijn,...,7,8,4,3,0,0,0,0,1905-09-21,0.0
571428,892533,1907-02-27,0,adriaan,allewijn,dina,kok,280789,adriaan,allewijn,...,7,8,4,3,0,0,0,0,1905-09-21,30.0
571429,892534,1869-03-31 00:00:00,0,cornelis,beveren,cornelia,hof,150252,cornelis,beveren,...,8,7,8,3,0,0,0,0,1868-05-20 00:00:00,0.0
571430,892534,1871-02-20 00:00:00,0,cornelis,beveren,cornelia,hof,638219,cornelis,beveren,...,8,7,8,3,0,0,0,0,1868-05-20 00:00:00,23.0
571431,892534,1872-03-17 00:00:00,3,cornelis,beveren,cornelia,hof,534341,cornelis,beveren,...,8,7,8,3,0,0,0,3,1868-05-20 00:00:00,13.0
571432,892534,1872-03-26 00:00:00,0,cornelis,beveren,cornelia,hof,333846,cornelis,beveren,...,8,7,8,3,0,0,0,0,1868-05-20 00:00:00,0.0
571433,892534,1873-04-15 00:00:00,3,cornelis,beveren,cornelia,hof,413539,cornelis,beveren,...,8,7,8,3,0,0,0,3,1868-05-20 00:00:00,13.0
571434,892534,1873-05-29 00:00:00,0,cornelis,beveren,cornelia,hof,405060,cornelis,beveren,...,8,7,8,3,0,0,0,0,1868-05-20 00:00:00,1.0
571435,892534,1874-12-18 00:00:00,0,cornelis,beveren,cornelia,hof,276262,cornelis,beveren,...,8,7,8,3,0,0,0,0,1868-05-20 00:00:00,19.0
571436,892534,1876-01-21 00:00:00,3,cornelis,beveren,cornelia,hof,491793,cornelis,beveren,...,8,7,8,3,0,0,0,3,1868-05-20 00:00:00,13.0
571437,892534,1876-02-16 00:00:00,0,cornelis,beveren,cornelia,hof,309700,cornelis,beveren,...,8,7,8,3,0,0,0,0,1868-05-20 00:00:00,1.0
571438,892534,1877-05-21 00:00:00,3,cornelis,beveren,cornelia,hof,175548,cornelis,beveren,...,8,7,8,3,0,0,0,3,1868-05-20 00:00:00,15.0
571439,892534,1881-12-23 00:00:00,3,cornelis,beveren,cornelia,hof,183151,cornelis,beveren,...,8,7,8,3,0,0,0,3,1868-05-20 00:00:00,55.0
571440,892536,1817-05-21 00:00:00,0,bart,hessel,anna,jansen,164233,bart,hessel,...,4,6,4,6,0,0,0,0,1815-01-19 00:00:00,0.0
571441,892536,1819-03-22 00:00:00,1,bart,hessel,anna,jansen,385988,bart,hessel,...,4,6,4,6,0,0,0,1,1815-01-19 00:00:00,22.0
571442,892536,1820-10-16 00:00:00,0,bart,hessel,anna,jansen,267688,bart,hessel,...,4,6,4,6,0,0,0,0,1815-01-19 00:00:00,19.0
571443,892536,1822-02-25 00:00:00,0,bart,hessel,anna,jansen,617587,bart,hessel,...,4,6,4,6,0,0,0,0,1815-01-19 00:00:00,16.0
571444,892536,1827-12-08 00:00:00,0,bart,hessel,anna,jansen,661219,bart,hessel,...,4,6,4,6,0,0,0,0,1815-01-19 00:00:00,70.0
571445,892537,1871-11-15 00:00:00,0,jan,hollestelle,dina,schipper,551234,jan,hollestelle,...,3,11,4,8,0,0,0,0,1870-05-05 00:00:00,0.0
571446,892537,1873-12-26 00:00:00,0,jan,hollestelle,dina,schipper,170670,jan,hollestelle,...,3,11,4,8,0,0,0,0,1870-05-05 00:00:00,25.0
571447,892537,1875-10-08 00:00:00,0,jan,hollestelle,dina,schipper,204982,jan,hollestelle,...,3,11,4,8,0,0,0,0,1870-05-05 00:00:00,22.0
571448,892537,1877-01-29 00:00:00,0,jan,hollestelle,dina,schipper,583598,jan,hollestelle,...,3,11,4,8,0,0,0,0,1870-05-05 00:00:00,15.0
571449,892537,1879-05-01 00:00:00,0,jan,hollestelle,dina,schipper,580524,jan,hollestelle,...,3,11,4,8,0,0,0,0,1870-05-05 00:00:00,28.0
571450,892537,1881-09-21 00:00:00,0,jan,hollestelle,dina,schipper,475737,jan,hollestelle,...,3,11,4,8,0,0,0,0,1870-05-05 00:00:00,28.0

In [5]:
df['mar_diff'] = (df.event_date.dt.year - df.mar_date.dt.year) * 12 + (df.event_date.dt.month - df.mar_date.dt.month)
df['abs_mar_diff'] = abs(df['mar_diff'])
df['birth_before_mar'] = df.event_date < df.mar_date
df.sort_values(['id_1', 'abs_mar_diff'], inplace=True)

In [6]:
df['date_diff_month'] = df.groupby(['id_1', 'birth_before_mar'])['event_date'].diff().astype('timedelta64[M]')

In [7]:
df.date_diff_month.fillna(0, inplace=True)

In [8]:
df['MIN_BIRTH_INTERVAL'] = (df.date_diff_month >= MIN_BIRTH_INTERVAL_MONTH) | (df.date_diff_month == 0)
df['MIN_MAR_INTERVAL'] = df.mar_diff >= MIN_MAR_DIFF

In [9]:
df['MAX_MAR_DIFF'] = (df.mar_diff <= MAX_MAR_DIFF)

In [10]:
df

,id_1,event_date,dist,target_name_1,target_name_2,target_name_3,target_name_4,id_2,candidate_name_1,candidate_name_2,...,dist_name_3,dist_name_4,mar_date,date_diff_month,mar_diff,abs_mar_diff,birth_before_mar,MIN_BIRTH_INTERVAL,MIN_MAR_INTERVAL,MAX_MAR_DIFF
0,698559,1820-11-17 00:00:00,2,ferdinandus,kroes,victoria,strobbe,393954,ferdinand,kroes,...,0,0,1819-11-24 00:00:00,0.0,12,12,False,True,True,True
1,698559,1823-06-03 00:00:00,0,ferdinandus,kroes,victoria,strobbe,223482,ferdinandus,kroes,...,0,0,1819-11-24 00:00:00,30.0,43,43,False,True,True,True
2,698559,1825-05-17 00:00:00,0,ferdinandus,kroes,victoria,strobbe,334134,ferdinandus,kroes,...,0,0,1819-11-24 00:00:00,23.0,66,66,False,True,True,True
3,698559,1832-03-26 00:00:00,0,ferdinandus,kroes,victoria,strobbe,443443,ferdinandus,kroes,...,0,0,1819-11-24 00:00:00,82.0,148,148,False,True,True,True
4,698559,1839-06-23 00:00:00,0,ferdinandus,kroes,victoria,strobbe,624202,ferdinandus,kroes,...,0,0,1819-11-24 00:00:00,86.0,235,235,False,True,True,True
5,698560,1898-01-17 00:00:00,0,henricus,vries,joanna,heijtvelt,285369,henricus,vries,...,0,0,1897-05-14 00:00:00,0.0,8,8,False,True,True,True
6,698560,1899-03-21 00:00:00,0,henricus,vries,joanna,heijtvelt,537391,henricus,vries,...,0,0,1897-05-14 00:00:00,14.0,22,22,False,True,True,True
7,698560,1900-07-13,0,henricus,vries,joanna,heijtvelt,438361,henricus,vries,...,0,0,1897-05-14 00:00:00,15.0,38,38,False,True,True,True
8,698560,1907-03-11,3,henricus,vries,joanna,heijtvelt,596573,henricus,vries,...,0,3,1897-05-14 00:00:00,79.0,118,118,False,True,True,True
9,698560,1911-08-30,0,henricus,vries,joanna,heijtvelt,529099,henricus,vries,...,0,0,1897-05-14 00:00:00,53.0,171,171,False,True,True,True
10,698560,1913-01-06,0,henricus,vries,joanna,heijtvelt,202050,henricus,vries,...,0,0,1897-05-14 00:00:00,16.0,188,188,False,True,True,True
11,698561,1883-08-23 00:00:00,0,constand,constandse,janna,weele,234766,constand,constandse,...,0,0,1882-10-12 00:00:00,0.0,10,10,False,True,True,True
12,698561,1886-09-07 00:00:00,0,constand,constandse,janna,weele,543657,constand,constandse,...,0,0,1882-10-12 00:00:00,36.0,47,47,False,True,True,True
13,698564,1889-04-29 00:00:00,0,petrus,schram,ursula,reu,413603,petrus,schram,...,0,0,1887-08-17 00:00:00,0.0,20,20,False,True,True,True
14,698564,1891-01-09 00:00:00,0,petrus,schram,ursula,reu,681632,petrus,schram,...,0,0,1887-08-17 00:00:00,20.0,41,41,False,True,True,True
15,698564,1893-10-10 00:00:00,0,petrus,schram,ursula,reu,114221,petrus,schram,...,0,0,1887-08-17 00:00:00,33.0,74,74,False,True,True,True
16,698564,1894-11-25 00:00:00,0,petrus,schram,ursula,reu,403934,petrus,schram,...,0,0,1887-08-17 00:00:00,13.0,87,87,False,True,True,True
17,698564,1896-06-20 00:00:00,0,petrus,schram,ursula,reu,461840,petrus,schram,...,0,0,1887-08-17 00:00:00,18.0,106,106,False,True,True,True
18,698564,1897-08-26 00:00:00,0,petrus,schram,ursula,reu,452884,petrus,schram,...,0,0,1887-08-17 00:00:00,14.0,120,120,False,True,True,True
19,698564,1899-09-11 00:00:00,0,petrus,schram,ursula,reu,48108,petrus,schram,...,0,0,1887-08-17 00:00:00,24.0,145,145,False,True,True,True
20,698564,1901-02-18,0,petrus,schram,ursula,reu,322845,petrus,schram,...,0,0,1887-08-17 00:00:00,17.0,162,162,False,True,True,True
21,698564,1903-03-09,0,petrus,schram,ursula,reu,182154,petrus,schram,...,0,0,1887-08-17 00:00:00,24.0,187,187,False,True,True,True
22,698564,1906-08-04,0,petrus,schram,ursula,reu,177256,petrus,schram,...,0,0,1887-08-17 00:00:00,40.0,228,228,False,True,True,True
23,698564,1912-03-09,0,petrus,schram,ursula,reu,101677,petrus,schram,...,0,0,1887-08-17 00:00:00,67.0,295,295,False,True,True,True
24,698566,1885-09-25 00:00:00,0,johan,trampe,maria,brand,53882,johan,trampe,...,0,0,1885-02-18 00:00:00,0.0,7,7,False,True,True,True
25,698566,1887-06-01 00:00:00,0,johan,trampe,maria,brand,499360,johan,trampe,...,0,0,1885-02-18 00:00:00,20.0,28,28,False,True,True,True
26,698566,1889-04-29 00:00:00,0,johan,trampe,maria,brand,233078,johan,trampe,...,0,0,1885-02-18 00:00:00,22.0,50,50,False,True,True,True
27,698566,1891-12-21 00:00:00,0,johan,trampe,maria,brand,106708,johan,trampe,...,0,0,1885-02-18 00:00:00,31.0,82,82,False,True,True,True
28,698569,1831-01-22 00:00:00,1,joos,stevens,franciesca,laat,95455,joos,stevens,...,1,0,1830-05-07 00:00:00,0.0,8,8,False,True,True,True
29,698569,1832-10-04 00:00:00,0,joos,stevens,franciesca,laat,675200,joos,stevens,...,0,0,1830-05-07 00:00:00,20.0,29,29,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571421,892531,1864-01-13 00:00:00,0,andries,thijsebaard,blondina,allart,335034,andries,thijsebaard,...,0,0,1861-09-12 00:00:00,19.0,28,28,False,True,True,True
571422,892531,1865-03-01 00:00:00,0,andries,thijsebaard,blondina,allart,502033,andries,thijsebaard,...,0,0,1861-09-12 00:00:00,13.0,42,42,False,True,True,True
571423,892531,1867-05-01 00:00:00,0,andries,thijsebaard,blondina,allart,435133,andries,thijsebaard,...,0,0,1861-09-12 00:00:00,25.0,68,68,False,True,True,True
571424,892531,1870-01-29 00:00:00,1,andries,thijsebaard,blondina,allart,639457,andries,thijsbaard,...,0,0,1861-09-12 00:00:00,32.0,100,100,False,True,True,True
571425,892531,1873-04-04 00:00:00,0,andries,thijsebaard,blondina,allart,251672,andries,thijsebaard,...,0,0,1861-09-12 00:00:00,38.0,139,139,False,True,True,True
571426,892531,1875-09-13 00:00:00,0,andries,thijsebaard,blondina,allart,349538,andries,thijsebaard,...,0,0,1861-09-12 00:00:00,29.0,168,168,False,True,True,True
571427,892533,1904-08-02,0,adriaan,allewijn,dina,kok,681727,adriaan,allewijn,...,0,0,1905-09-21,0.0,-13,13,True,True,False,True
571428,892533,1907-02-27,0,adriaan,allewijn,dina,kok,280789,adriaan,allewijn,...,0,0,1905-09-21,0.0,17,17,False,True,True,True
571429,892534,1869-03-31 00:00:00,0,cornelis,beveren,cornelia,hof,150252,cornelis,beveren,...,0,0,1868-05-20 00:00:00,0.0,10,10,False,True,True,True
571430,892534,1871-02-20 00:00:00,0,cornelis,beveren,cornelia,hof,638219,cornelis,beveren,...,0,0,1868-05-20 00:00:00,22.0,33,33,False,True,True,True
571431,892534,1872-03-17 00:00:00,3,cornelis,beveren,cornelia,hof,534341,cornelis,beveren,...,0,3,1868-05-20 00:00:00,12.0,46,46,False,True,True,True
571432,892534,1872-03-26 00:00:00,0,cornelis,beveren,cornelia,hof,333846,cornelis,beveren,...,0,0,1868-05-20 00:00:00,0.0,46,46,False,True,True,True
571433,892534,1873-04-15 00:00:00,3,cornelis,beveren,cornelia,hof,413539,cornelis,beveren,...,0,3,1868-05-20 00:00:00,12.0,59,59,False,True,True,True
571434,892534,1873-05-29 00:00:00,0,cornelis,beveren,cornelia,hof,405060,cornelis,beveren,...,0,0,1868-05-20 00:00:00,1.0,60,60,False,False,True,True
571435,892534,1874-12-18 00:00:00,0,cornelis,beveren,cornelia,hof,276262,cornelis,beveren,...,0,0,1868-05-20 00:00:00,18.0,79,79,False,True,True,True
571436,892534,1876-01-21 00:00:00,3,cornelis,beveren,cornelia,hof,491793,cornelis,beveren,...,0,3,1868-05-20 00:00:00,13.0,92,92,False,True,True,True
571437,892534,1876-02-16 00:00:00,0,cornelis,beveren,cornelia,hof,309700,cornelis,beveren,...,0,0,1868-05-20 00:00:00,0.0,93,93,False,True,True,True
571438,892534,1877-05-21 00:00:00,3,cornelis,beveren,cornelia,hof,175548,cornelis,beveren,...,0,3,1868-05-20 00:00:00,15.0,108,108,False,True,True,True
571439,892534,1881-12-23 00:00:00,3,cornelis,beveren,cornelia,hof,183151,cornelis,beveren,...,0,3,1868-05-20 00:00:00,55.0,163,163,False,True,True,True
571440,892536,1817-05-21 00:00:00,0,bart,hessel,anna,jansen,164233,bart,hessel,...,0,0,1815-01-19 00:00:00,0.0,28,28,False,True,True,True
571441,892536,1819-03-22 00:00:00,1,bart,hessel,anna,jansen,385988,bart,hessel,...,0,1,1815-01-19 00:00:00,22.0,50,50,False,True,True,True
571442,892536,1820-10-16 00:00:00,0,bart,hessel,anna,jansen,267688,bart,hessel,...,0,0,1815-01-19 00:00:00,18.0,69,69,False,True,True,True
571443,892536,1822-02-25 00:00:00,0,bart,hessel,anna,jansen,617587,bart,hessel,...,0,0,1815-01-19 00:00:00,16.0,85,85,False,True,True,True
571444,892536,1827-12-08 00:00:00,0,bart,hessel,anna,jansen,661219,bart,hessel,...,0,0,1815-01-19 00:00:00,69.0,155,155,False,True,True,True
571445,892537,1871-11-15 00:00:00,0,jan,hollestelle,dina,schipper,551234,jan,hollestelle,...,0,0,1870-05-05 00:00:00,0.0,18,18,False,True,True,True
571446,892537,1873-12-26 00:00:00,0,jan,hollestelle,dina,schipper,170670,jan,hollestelle,...,0,0,1870-05-05 00:00:00,25.0,43,43,False,True,True,True
571447,892537,1875-10-08 00:00:00,0,jan,hollestelle,dina,schipper,204982,jan,hollestelle,...,0,0,1870-05-05 00:00:00,21.0,65,65,False,True,True,True
571448,892537,1877-01-29 00:00:00,0,jan,hollestelle,dina,schipper,583598,jan,hollestelle,...,0,0,1870-05-05 00:00:00,15.0,80,80,False,True,True,True
571449,892537,1879-05-01 00:00:00,0,jan,hollestelle,dina,schipper,580524,jan,hollestelle,...,0,0,1870-05-05 00:00:00,27.0,108,108,False,True,True,True
571450,892537,1881-09-21 00:00:00,0,jan,hollestelle,dina,schipper,475737,jan,hollestelle,...,0,0,1870-05-05 00:00:00,28.0,136,136,False,True,True,True

In [11]:
df['months_since_first_birth'] = df.groupby(['id_1', 'birth_before_mar'])['date_diff_month'].apply(lambda x: x.cumsum())

In [12]:
df

,id_1,event_date,dist,target_name_1,target_name_2,target_name_3,target_name_4,id_2,candidate_name_1,candidate_name_2,...,dist_name_4,mar_date,date_diff_month,mar_diff,abs_mar_diff,birth_before_mar,MIN_BIRTH_INTERVAL,MIN_MAR_INTERVAL,MAX_MAR_DIFF,months_since_first_birth
0,698559,1820-11-17 00:00:00,2,ferdinandus,kroes,victoria,strobbe,393954,ferdinand,kroes,...,0,1819-11-24 00:00:00,0.0,12,12,False,True,True,True,0.0
1,698559,1823-06-03 00:00:00,0,ferdinandus,kroes,victoria,strobbe,223482,ferdinandus,kroes,...,0,1819-11-24 00:00:00,30.0,43,43,False,True,True,True,30.0
2,698559,1825-05-17 00:00:00,0,ferdinandus,kroes,victoria,strobbe,334134,ferdinandus,kroes,...,0,1819-11-24 00:00:00,23.0,66,66,False,True,True,True,53.0
3,698559,1832-03-26 00:00:00,0,ferdinandus,kroes,victoria,strobbe,443443,ferdinandus,kroes,...,0,1819-11-24 00:00:00,82.0,148,148,False,True,True,True,135.0
4,698559,1839-06-23 00:00:00,0,ferdinandus,kroes,victoria,strobbe,624202,ferdinandus,kroes,...,0,1819-11-24 00:00:00,86.0,235,235,False,True,True,True,221.0
5,698560,1898-01-17 00:00:00,0,henricus,vries,joanna,heijtvelt,285369,henricus,vries,...,0,1897-05-14 00:00:00,0.0,8,8,False,True,True,True,0.0
6,698560,1899-03-21 00:00:00,0,henricus,vries,joanna,heijtvelt,537391,henricus,vries,...,0,1897-05-14 00:00:00,14.0,22,22,False,True,True,True,14.0
7,698560,1900-07-13,0,henricus,vries,joanna,heijtvelt,438361,henricus,vries,...,0,1897-05-14 00:00:00,15.0,38,38,False,True,True,True,29.0
8,698560,1907-03-11,3,henricus,vries,joanna,heijtvelt,596573,henricus,vries,...,3,1897-05-14 00:00:00,79.0,118,118,False,True,True,True,108.0
9,698560,1911-08-30,0,henricus,vries,joanna,heijtvelt,529099,henricus,vries,...,0,1897-05-14 00:00:00,53.0,171,171,False,True,True,True,161.0
10,698560,1913-01-06,0,henricus,vries,joanna,heijtvelt,202050,henricus,vries,...,0,1897-05-14 00:00:00,16.0,188,188,False,True,True,True,177.0
11,698561,1883-08-23 00:00:00,0,constand,constandse,janna,weele,234766,constand,constandse,...,0,1882-10-12 00:00:00,0.0,10,10,False,True,True,True,0.0
12,698561,1886-09-07 00:00:00,0,constand,constandse,janna,weele,543657,constand,constandse,...,0,1882-10-12 00:00:00,36.0,47,47,False,True,True,True,36.0
13,698564,1889-04-29 00:00:00,0,petrus,schram,ursula,reu,413603,petrus,schram,...,0,1887-08-17 00:00:00,0.0,20,20,False,True,True,True,0.0
14,698564,1891-01-09 00:00:00,0,petrus,schram,ursula,reu,681632,petrus,schram,...,0,1887-08-17 00:00:00,20.0,41,41,False,True,True,True,20.0
15,698564,1893-10-10 00:00:00,0,petrus,schram,ursula,reu,114221,petrus,schram,...,0,1887-08-17 00:00:00,33.0,74,74,False,True,True,True,53.0
16,698564,1894-11-25 00:00:00,0,petrus,schram,ursula,reu,403934,petrus,schram,...,0,1887-08-17 00:00:00,13.0,87,87,False,True,True,True,66.0
17,698564,1896-06-20 00:00:00,0,petrus,schram,ursula,reu,461840,petrus,schram,...,0,1887-08-17 00:00:00,18.0,106,106,False,True,True,True,84.0
18,698564,1897-08-26 00:00:00,0,petrus,schram,ursula,reu,452884,petrus,schram,...,0,1887-08-17 00:00:00,14.0,120,120,False,True,True,True,98.0
19,698564,1899-09-11 00:00:00,0,petrus,schram,ursula,reu,48108,petrus,schram,...,0,1887-08-17 00:00:00,24.0,145,145,False,True,True,True,122.0
20,698564,1901-02-18,0,petrus,schram,ursula,reu,322845,petrus,schram,...,0,1887-08-17 00:00:00,17.0,162,162,False,True,True,True,139.0
21,698564,1903-03-09,0,petrus,schram,ursula,reu,182154,petrus,schram,...,0,1887-08-17 00:00:00,24.0,187,187,False,True,True,True,163.0
22,698564,1906-08-04,0,petrus,schram,ursula,reu,177256,petrus,schram,...,0,1887-08-17 00:00:00,40.0,228,228,False,True,True,True,203.0
23,698564,1912-03-09,0,petrus,schram,ursula,reu,101677,petrus,schram,...,0,1887-08-17 00:00:00,67.0,295,295,False,True,True,True,270.0
24,698566,1885-09-25 00:00:00,0,johan,trampe,maria,brand,53882,johan,trampe,...,0,1885-02-18 00:00:00,0.0,7,7,False,True,True,True,0.0
25,698566,1887-06-01 00:00:00,0,johan,trampe,maria,brand,499360,johan,trampe,...,0,1885-02-18 00:00:00,20.0,28,28,False,True,True,True,20.0
26,698566,1889-04-29 00:00:00,0,johan,trampe,maria,brand,233078,johan,trampe,...,0,1885-02-18 00:00:00,22.0,50,50,False,True,True,True,42.0
27,698566,1891-12-21 00:00:00,0,johan,trampe,maria,brand,106708,johan,trampe,...,0,1885-02-18 00:00:00,31.0,82,82,False,True,True,True,73.0
28,698569,1831-01-22 00:00:00,1,joos,stevens,franciesca,laat,95455,joos,stevens,...,0,1830-05-07 00:00:00,0.0,8,8,False,True,True,True,0.0
29,698569,1832-10-04 00:00:00,0,joos,stevens,franciesca,laat,675200,joos,stevens,...,0,1830-05-07 00:00:00,20.0,29,29,False,True,True,True,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571421,892531,1864-01-13 00:00:00,0,andries,thijsebaard,blondina,allart,335034,andries,thijsebaard,...,0,1861-09-12 00:00:00,19.0,28,28,False,True,True,True,19.0
571422,892531,1865-03-01 00:00:00,0,andries,thijsebaard,blondina,allart,502033,andries,thijsebaard,...,0,1861-09-12 00:00:00,13.0,42,42,False,True,True,True,32.0
571423,892531,1867-05-01 00:00:00,0,andries,thijsebaard,blondina,allart,435133,andries,thijsebaard,...,0,1861-09-12 00:00:00,25.0,68,68,False,True,True,True,57.0
571424,892531,1870-01-29 00:00:00,1,andries,thijsebaard,blondina,allart,639457,andries,thijsbaard,...,0,1861-09-12 00:00:00,32.0,100,100,False,True,True,True,89.0
571425,892531,1873-04-04 00:00:00,0,andries,thijsebaard,blondina,allart,251672,andries,thijsebaard,...,0,1861-09-12 00:00:00,38.0,139,139,False,True,True,True,127.0
571426,892531,1875-09-13 00:00:00,0,andries,thijsebaard,blondina,allart,349538,andries,thijsebaard,...,0,1861-09-12 00:00:00,29.0,168,168,False,True,True,True,156.0
571427,892533,1904-08-02,0,adriaan,allewijn,dina,kok,681727,adriaan,allewijn,...,0,1905-09-21,0.0,-13,13,True,True,False,True,0.0
571428,892533,1907-02-27,0,adriaan,allewijn,dina,kok,280789,adriaan,allewijn,...,0,1905-09-21,0.0,17,17,False,True,True,True,0.0
571429,892534,1869-03-31 00:00:00,0,cornelis,beveren,cornelia,hof,150252,cornelis,beveren,...,0,1868-05-20 00:00:00,0.0,10,10,False,True,True,True,0.0
571430,892534,1871-02-20 00:00:00,0,cornelis,beveren,cornelia,hof,638219,cornelis,beveren,...,0,1868-05-20 00:00:00,22.0,33,33,False,True,True,True,22.0
571431,892534,1872-03-17 00:00:00,3,cornelis,beveren,cornelia,hof,534341,cornelis,beveren,...,3,1868-05-20 00:00:00,12.0,46,46,False,True,True,True,34.0
571432,892534,1872-03-26 00:00:00,0,cornelis,beveren,cornelia,hof,333846,cornelis,beveren,...,0,1868-05-20 00:00:00,0.0,46,46,False,True,True,True,34.0
571433,892534,1873-04-15 00:00:00,3,cornelis,beveren,cornelia,hof,413539,cornelis,beveren,...,3,1868-05-20 00:00:00,12.0,59,59,False,True,True,True,46.0
571434,892534,1873-05-29 00:00:00,0,cornelis,beveren,cornelia,hof,405060,cornelis,beveren,...,0,1868-05-20 00:00:00,1.0,60,60,False,False,True,True,47.0
571435,892534,1874-12-18 00:00:00,0,cornelis,beveren,cornelia,hof,276262,cornelis,beveren,...,0,1868-05-20 00:00:00,18.0,79,79,False,True,True,True,65.0
571436,892534,1876-01-21 00:00:00,3,cornelis,beveren,cornelia,hof,491793,cornelis,beveren,...,3,1868-05-20 00:00:00,13.0,92,92,False,True,True,True,78.0
571437,892534,1876-02-16 00:00:00,0,cornelis,beveren,cornelia,hof,309700,cornelis,beveren,...,0,1868-05-20 00:00:00,0.0,93,93,False,True,True,True,78.0
571438,892534,1877-05-21 00:00:00,3,cornelis,beveren,cornelia,hof,175548,cornelis,beveren,...,3,1868-05-20 00:00:00,15.0,108,108,False,True,True,True,93.0
571439,892534,1881-12-23 00:00:00,3,cornelis,beveren,cornelia,hof,183151,cornelis,beveren,...,3,1868-05-20 00:00:00,55.0,163,163,False,True,True,True,148.0
571440,892536,1817-05-21 00:00:00,0,bart,hessel,anna,jansen,164233,bart,hessel,...,0,1815-01-19 00:00:00,0.0,28,28,False,True,True,True,0.0
571441,892536,1819-03-22 00:00:00,1,bart,hessel,anna,jansen,385988,bart,hessel,...,1,1815-01-19 00:00:00,22.0,50,50,False,True,True,True,22.0
571442,892536,1820-10-16 00:00:00,0,bart,hessel,anna,jansen,267688,bart,hessel,...,0,1815-01-19 00:00:00,18.0,69,69,False,True,True,True,40.0
571443,892536,1822-02-25 00:00:00,0,bart,hessel,anna,jansen,617587,bart,hessel,...,0,1815-01-19 00:00:00,16.0,85,85,False,True,True,True,56.0
571444,892536,1827-12-08 00:00:00,0,bart,hessel,anna,jansen,661219,bart,hessel,...,0,1815-01-19 00:00:00,69.0,155,155,False,True,True,True,125.0
571445,892537,1871-11-15 00:00:00,0,jan,hollestelle,dina,schipper,551234,jan,hollestelle,...,0,1870-05-05 00:00:00,0.0,18,18,False,True,True,True,0.0
571446,892537,1873-12-26 00:00:00,0,jan,hollestelle,dina,schipper,170670,jan,hollestelle,...,0,1870-05-05 00:00:00,25.0,43,43,False,True,True,True,25.0
571447,892537,1875-10-08 00:00:00,0,jan,hollestelle,dina,schipper,204982,jan,hollestelle,...,0,1870-05-05 00:00:00,21.0,65,65,False,True,True,True,46.0
571448,892537,1877-01-29 00:00:00,0,jan,hollestelle,dina,schipper,583598,jan,hollestelle,...,0,1870-05-05 00:00:00,15.0,80,80,False,True,True,True,61.0
571449,892537,1879-05-01 00:00:00,0,jan,hollestelle,dina,schipper,580524,jan,hollestelle,...,0,1870-05-05 00:00:00,27.0,108,108,False,True,True,True,88.0
571450,892537,1881-09-21 00:00:00,0,jan,hollestelle,dina,schipper,475737,jan,hollestelle,...,0,1870-05-05 00:00:00,28.0,136,136,False,True,True,True,116.0

In [13]:
df['MAX_BIRTH_INTERVAL'] = ((df.months_since_first_birth <= MAX_BIRTH_INTERVAL_MONTH) & (df.months_since_first_birth >= 0))

In [14]:
df['accepted'] = df.MIN_BIRTH_INTERVAL & df.MIN_MAR_INTERVAL & df.MAX_MAR_DIFF & df.MAX_BIRTH_INTERVAL & ~df.birth_before_mar

In [15]:
df

,id_1,event_date,dist,target_name_1,target_name_2,target_name_3,target_name_4,id_2,candidate_name_1,candidate_name_2,...,date_diff_month,mar_diff,abs_mar_diff,birth_before_mar,MIN_BIRTH_INTERVAL,MIN_MAR_INTERVAL,MAX_MAR_DIFF,months_since_first_birth,MAX_BIRTH_INTERVAL,accepted
0,698559,1820-11-17 00:00:00,2,ferdinandus,kroes,victoria,strobbe,393954,ferdinand,kroes,...,0.0,12,12,False,True,True,True,0.0,True,True
1,698559,1823-06-03 00:00:00,0,ferdinandus,kroes,victoria,strobbe,223482,ferdinandus,kroes,...,30.0,43,43,False,True,True,True,30.0,True,True
2,698559,1825-05-17 00:00:00,0,ferdinandus,kroes,victoria,strobbe,334134,ferdinandus,kroes,...,23.0,66,66,False,True,True,True,53.0,True,True
3,698559,1832-03-26 00:00:00,0,ferdinandus,kroes,victoria,strobbe,443443,ferdinandus,kroes,...,82.0,148,148,False,True,True,True,135.0,True,True
4,698559,1839-06-23 00:00:00,0,ferdinandus,kroes,victoria,strobbe,624202,ferdinandus,kroes,...,86.0,235,235,False,True,True,True,221.0,False,False
5,698560,1898-01-17 00:00:00,0,henricus,vries,joanna,heijtvelt,285369,henricus,vries,...,0.0,8,8,False,True,True,True,0.0,True,True
6,698560,1899-03-21 00:00:00,0,henricus,vries,joanna,heijtvelt,537391,henricus,vries,...,14.0,22,22,False,True,True,True,14.0,True,True
7,698560,1900-07-13,0,henricus,vries,joanna,heijtvelt,438361,henricus,vries,...,15.0,38,38,False,True,True,True,29.0,True,True
8,698560,1907-03-11,3,henricus,vries,joanna,heijtvelt,596573,henricus,vries,...,79.0,118,118,False,True,True,True,108.0,True,True
9,698560,1911-08-30,0,henricus,vries,joanna,heijtvelt,529099,henricus,vries,...,53.0,171,171,False,True,True,True,161.0,True,True
10,698560,1913-01-06,0,henricus,vries,joanna,heijtvelt,202050,henricus,vries,...,16.0,188,188,False,True,True,True,177.0,True,True
11,698561,1883-08-23 00:00:00,0,constand,constandse,janna,weele,234766,constand,constandse,...,0.0,10,10,False,True,True,True,0.0,True,True
12,698561,1886-09-07 00:00:00,0,constand,constandse,janna,weele,543657,constand,constandse,...,36.0,47,47,False,True,True,True,36.0,True,True
13,698564,1889-04-29 00:00:00,0,petrus,schram,ursula,reu,413603,petrus,schram,...,0.0,20,20,False,True,True,True,0.0,True,True
14,698564,1891-01-09 00:00:00,0,petrus,schram,ursula,reu,681632,petrus,schram,...,20.0,41,41,False,True,True,True,20.0,True,True
15,698564,1893-10-10 00:00:00,0,petrus,schram,ursula,reu,114221,petrus,schram,...,33.0,74,74,False,True,True,True,53.0,True,True
16,698564,1894-11-25 00:00:00,0,petrus,schram,ursula,reu,403934,petrus,schram,...,13.0,87,87,False,True,True,True,66.0,True,True
17,698564,1896-06-20 00:00:00,0,petrus,schram,ursula,reu,461840,petrus,schram,...,18.0,106,106,False,True,True,True,84.0,True,True
18,698564,1897-08-26 00:00:00,0,petrus,schram,ursula,reu,452884,petrus,schram,...,14.0,120,120,False,True,True,True,98.0,True,True
19,698564,1899-09-11 00:00:00,0,petrus,schram,ursula,reu,48108,petrus,schram,...,24.0,145,145,False,True,True,True,122.0,True,True
20,698564,1901-02-18,0,petrus,schram,ursula,reu,322845,petrus,schram,...,17.0,162,162,False,True,True,True,139.0,True,True
21,698564,1903-03-09,0,petrus,schram,ursula,reu,182154,petrus,schram,...,24.0,187,187,False,True,True,True,163.0,True,True
22,698564,1906-08-04,0,petrus,schram,ursula,reu,177256,petrus,schram,...,40.0,228,228,False,True,True,True,203.0,False,False
23,698564,1912-03-09,0,petrus,schram,ursula,reu,101677,petrus,schram,...,67.0,295,295,False,True,True,True,270.0,False,False
24,698566,1885-09-25 00:00:00,0,johan,trampe,maria,brand,53882,johan,trampe,...,0.0,7,7,False,True,True,True,0.0,True,True
25,698566,1887-06-01 00:00:00,0,johan,trampe,maria,brand,499360,johan,trampe,...,20.0,28,28,False,True,True,True,20.0,True,True
26,698566,1889-04-29 00:00:00,0,johan,trampe,maria,brand,233078,johan,trampe,...,22.0,50,50,False,True,True,True,42.0,True,True
27,698566,1891-12-21 00:00:00,0,johan,trampe,maria,brand,106708,johan,trampe,...,31.0,82,82,False,True,True,True,73.0,True,True
28,698569,1831-01-22 00:00:00,1,joos,stevens,franciesca,laat,95455,joos,stevens,...,0.0,8,8,False,True,True,True,0.0,True,True
29,698569,1832-10-04 00:00:00,0,joos,stevens,franciesca,laat,675200,joos,stevens,...,20.0,29,29,False,True,True,True,20.0,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571421,892531,1864-01-13 00:00:00,0,andries,thijsebaard,blondina,allart,335034,andries,thijsebaard,...,19.0,28,28,False,True,True,True,19.0,True,True
571422,892531,1865-03-01 00:00:00,0,andries,thijsebaard,blondina,allart,502033,andries,thijsebaard,...,13.0,42,42,False,True,True,True,32.0,True,True
571423,892531,1867-05-01 00:00:00,0,andries,thijsebaard,blondina,allart,435133,andries,thijsebaard,...,25.0,68,68,False,True,True,True,57.0,True,True
571424,892531,1870-01-29 00:00:00,1,andries,thijsebaard,blondina,allart,639457,andries,thijsbaard,...,32.0,100,100,False,True,True,True,89.0,True,True
571425,892531,1873-04-04 00:00:00,0,andries,thijsebaard,blondina,allart,251672,andries,thijsebaard,...,38.0,139,139,False,True,True,True,127.0,True,True
571426,892531,1875-09-13 00:00:00,0,andries,thijsebaard,blondina,allart,349538,andries,thijsebaard,...,29.0,168,168,False,True,True,True,156.0,True,True
571427,892533,1904-08-02,0,adriaan,allewijn,dina,kok,681727,adriaan,allewijn,...,0.0,-13,13,True,True,False,True,0.0,True,False
571428,892533,1907-02-27,0,adriaan,allewijn,dina,kok,280789,adriaan,allewijn,...,0.0,17,17,False,True,True,True,0.0,True,True
571429,892534,1869-03-31 00:00:00,0,cornelis,beveren,cornelia,hof,150252,cornelis,beveren,...,0.0,10,10,False,True,True,True,0.0,True,True
571430,892534,1871-02-20 00:00:00,0,cornelis,beveren,cornelia,hof,638219,cornelis,beveren,...,22.0,33,33,False,True,True,True,22.0,True,True
571431,892534,1872-03-17 00:00:00,3,cornelis,beveren,cornelia,hof,534341,cornelis,beveren,...,12.0,46,46,False,True,True,True,34.0,True,True
571432,892534,1872-03-26 00:00:00,0,cornelis,beveren,cornelia,hof,333846,cornelis,beveren,...,0.0,46,46,False,True,True,True,34.0,True,True
571433,892534,1873-04-15 00:00:00,3,cornelis,beveren,cornelia,hof,413539,cornelis,beveren,...,12.0,59,59,False,True,True,True,46.0,True,True
571434,892534,1873-05-29 00:00:00,0,cornelis,beveren,cornelia,hof,405060,cornelis,beveren,...,1.0,60,60,False,False,True,True,47.0,True,False
571435,892534,1874-12-18 00:00:00,0,cornelis,beveren,cornelia,hof,276262,cornelis,beveren,...,18.0,79,79,False,True,True,True,65.0,True,True
571436,892534,1876-01-21 00:00:00,3,cornelis,beveren,cornelia,hof,491793,cornelis,beveren,...,13.0,92,92,False,True,True,True,78.0,True,True
571437,892534,1876-02-16 00:00:00,0,cornelis,beveren,cornelia,hof,309700,cornelis,beveren,...,0.0,93,93,False,True,True,True,78.0,True,True
571438,892534,1877-05-21 00:00:00,3,cornelis,beveren,cornelia,hof,175548,cornelis,beveren,...,15.0,108,108,False,True,True,True,93.0,True,True
571439,892534,1881-12-23 00:00:00,3,cornelis,beveren,cornelia,hof,183151,cornelis,beveren,...,55.0,163,163,False,True,True,True,148.0,True,True
571440,892536,1817-05-21 00:00:00,0,bart,hessel,anna,jansen,164233,bart,hessel,...,0.0,28,28,False,True,True,True,0.0,True,True
571441,892536,1819-03-22 00:00:00,1,bart,hessel,anna,jansen,385988,bart,hessel,...,22.0,50,50,False,True,True,True,22.0,True,True
571442,892536,1820-10-16 00:00:00,0,bart,hessel,anna,jansen,267688,bart,hessel,...,18.0,69,69,False,True,True,True,40.0,True,True
571443,892536,1822-02-25 00:00:00,0,bart,hessel,anna,jansen,617587,bart,hessel,...,16.0,85,85,False,True,True,True,56.0,True,True
571444,892536,1827-12-08 00:00:00,0,bart,hessel,anna,jansen,661219,bart,hessel,...,69.0,155,155,False,True,True,True,125.0,True,True
571445,892537,1871-11-15 00:00:00,0,jan,hollestelle,dina,schipper,551234,jan,hollestelle,...,0.0,18,18,False,True,True,True,0.0,True,True
571446,892537,1873-12-26 00:00:00,0,jan,hollestelle,dina,schipper,170670,jan,hollestelle,...,25.0,43,43,False,True,True,True,25.0,True,True
571447,892537,1875-10-08 00:00:00,0,jan,hollestelle,dina,schipper,204982,jan,hollestelle,...,21.0,65,65,False,True,True,True,46.0,True,True
571448,892537,1877-01-29 00:00:00,0,jan,hollestelle,dina,schipper,583598,jan,hollestelle,...,15.0,80,80,False,True,True,True,61.0,True,True
571449,892537,1879-05-01 00:00:00,0,jan,hollestelle,dina,schipper,580524,jan,hollestelle,...,27.0,108,108,False,True,True,True,88.0,True,True
571450,892537,1881-09-21 00:00:00,0,jan,hollestelle,dina,schipper,475737,jan,hollestelle,...,28.0,136,136,False,True,True,True,116.0,True,True

In [20]:
df.groupby(['MAX_BIRTH_INTERVAL', 'MAX_MAR_DIFF', 'MIN_BIRTH_INTERVAL', 'MIN_MAR_INTERVAL', 'birth_before_mar']).count()

                                                                                        id_1  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                 49
                                True               True             False               3927
                   True         False              False            True               11134
                                                   True             False                112
                                True               False            True                 167
                                                   True             False              35857
True               False        False              True             False                 11
                                True               True             False                472
                   True         False              True             False               1374
                                True               False            True                8732
                                                   True             False             509376
                                                                    True                 240

                                                                                      event_date  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                     49
                                True               True             False                   3927
                   True         False              False            True                   11134
                                                   True             False                    112
                                True               False            True                     167
                                                   True             False                  35857
True               False        False              True             False                     11
                                True               True             False                    472
                   True         False              True             False                   1374
                                True               False            True                    8732
                                                   True             False                 509376
                                                                    True                     240

                                                                                        dist  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                 49
                                True               True             False               3927
                   True         False              False            True               11134
                                                   True             False                112
                                True               False            True                 167
                                                   True             False              35857
True               False        False              True             False                 11
                                True               True             False                472
                   True         False              True             False               1374
                                True               False            True                8732
                                                   True             False             509376
                                                                    True                 240

                                                                                      target_name_1  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                        49
                                True               True             False                      3927
                   True         False              False            True                      11134
                                                   True             False                       112
                                True               False            True                        167
                                                   True             False                     35857
True               False        False              True             False                        11
                                True               True             False                       472
                   True         False              True             False                      1374
                                True               False            True                       8732
                                                   True             False                    509376
                                                                    True                        240

                                                                                      target_name_2  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                        49
                                True               True             False                      3927
                   True         False              False            True                      11134
                                                   True             False                       112
                                True               False            True                        167
                                                   True             False                     35857
True               False        False              True             False                        11
                                True               True             False                       472
                   True         False              True             False                      1374
                                True               False            True                       8732
                                                   True             False                    509376
                                                                    True                        240

                                                                                      target_name_3  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                        49
                                True               True             False                      3927
                   True         False              False            True                      11134
                                                   True             False                       112
                                True               False            True                        167
                                                   True             False                     35857
True               False        False              True             False                        11
                                True               True             False                       472
                   True         False              True             False                      1374
                                True               False            True                       8732
                                                   True             False                    509376
                                                                    True                        240

                                                                                      target_name_4  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                        49
                                True               True             False                      3927
                   True         False              False            True                      11134
                                                   True             False                       112
                                True               False            True                        167
                                                   True             False                     35857
True               False        False              True             False                        11
                                True               True             False                       472
                   True         False              True             False                      1374
                                True               False            True                       8732
                                                   True             False                    509376
                                                                    True                        240

                                                                                        id_2  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                 49
                                True               True             False               3927
                   True         False              False            True               11134
                                                   True             False                112
                                True               False            True                 167
                                                   True             False              35857
True               False        False              True             False                 11
                                True               True             False                472
                   True         False              True             False               1374
                                True               False            True                8732
                                                   True             False             509376
                                                                    True                 240

                                                                                      candidate_name_1  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                           49
                                True               True             False                         3927
                   True         False              False            True                         11134
                                                   True             False                          112
                                True               False            True                           167
                                                   True             False                        35857
True               False        False              True             False                           11
                                True               True             False                          472
                   True         False              True             False                         1374
                                True               False            True                          8732
                                                   True             False                       509376
                                                                    True                           240

                                                                                      candidate_name_2  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                           49
                                True               True             False                         3927
                   True         False              False            True                         11134
                                                   True             False                          112
                                True               False            True                           167
                                                   True             False                        35857
True               False        False              True             False                           11
                                True               True             False                          472
                   True         False              True             False                         1374
                                True               False            True                          8732
                                                   True             False                       509376
                                                                    True                           240

                                                                                        ...     \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar    ...
False              False        False              True             False               ...
                                True               True             False               ...
                   True         False              False            True                ...
                                                   True             False               ...
                                True               False            True                ...
                                                   True             False               ...
True               False        False              True             False               ...
                                True               True             False               ...
                   True         False              True             False               ...
                                True               False            True                ...
                                                   True             False               ...
                                                                    True                ...

                                                                                      dist_name_1  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                      49
                                True               True             False                    3927
                   True         False              False            True                    11134
                                                   True             False                     112
                                True               False            True                      167
                                                   True             False                   35857
True               False        False              True             False                      11
                                True               True             False                     472
                   True         False              True             False                    1374
                                True               False            True                     8732
                                                   True             False                  509376
                                                                    True                      240

                                                                                      dist_name_2  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                      49
                                True               True             False                    3927
                   True         False              False            True                    11134
                                                   True             False                     112
                                True               False            True                      167
                                                   True             False                   35857
True               False        False              True             False                      11
                                True               True             False                     472
                   True         False              True             False                    1374
                                True               False            True                     8732
                                                   True             False                  509376
                                                                    True                      240

                                                                                      dist_name_3  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                      49
                                True               True             False                    3927
                   True         False              False            True                    11134
                                                   True             False                     112
                                True               False            True                      167
                                                   True             False                   35857
True               False        False              True             False                      11
                                True               True             False                     472
                   True         False              True             False                    1374
                                True               False            True                     8732
                                                   True             False                  509376
                                                                    True                      240

                                                                                      dist_name_4  \
MAX_BIRTH_INTERVAL MAX_MAR_DIFF MIN_BIRTH_INTERVAL MIN_MAR_INTERVAL birth_before_mar
False              False        False              True             False                      49
                                True               True             False                    3927
                   True         False              False            True                    11134
                                                   True             False                     112
                                True               False            True                      167
                                                   True             False                   35857
True               False        False              True             False                      11

In [269]:
if SAVEFIGS:
    df.to_csv('datafiles/dataframes/working/huwelijk_geboortes_familie_maanden_' + PREFIX +'_extended_' + str(NUMYEARS) + 'years.csv', sep="|", index=False)